<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collegemanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cms_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cms_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeManagementSystem">
        <activity android:name=".Admin.AdminEmailActivity"
            android:exported="false"/>
        <activity android:name=".Staffs.StaffEmailActivity"
            android:exported="false"/>
        <activity android:name=".Staffs.StaffMainActivity"
            android:exported="false"/>
        <activity android:name=".Students.Student_Reg_Log"
            android:exported="false"/>
        <activity android:name=".Students.StudentLoginActivity"
            android:exported="false"/>
        <activity android:name=".Students.StudentMainActivity2"
            android:exported="false"/>
        <activity android:name=".Students.StudentRegisterActivity"
            android:exported="false"/>
        <activity android:name=".AdminMainActivity"
            android:exported="false"/>
        <activity android:name=".MainModuleActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>